@model Invensa.Models.Questionnaire

@{
    ViewBag.Title = "Naikinti";
}

<h2>Naikinti</h2>

<h3>Ar tikrai norite ištrinti šią anketą?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcademicGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Atgal į sąrašą", "Index")
        </div>
    }
</div>
