@model Invensa.Models.Questionnaire

@{
    ViewBag.Title = "Anketos peržiūra";
}

<h2>Anketos peržiūra</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcademicGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    <input type="submit" value="Spausdinti" class="btn btn-default" /> |
    @Html.ActionLink("Atgal į sąrašą", "Index")
</p>
