@model IEnumerable<Invensa.Models.Book>

@{
    ViewBag.Title = "Peržiūrėti knygas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Įvesti knygą", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Rodyti detalią informaciją", "Details", new { id = item.Title }) |
                @Html.ActionLink("Rašyti atsiliepimą", "Comment", new { id = item.Title })
                @Html.ActionLink("Rezervuoti", "Reserve", new { id = item.Title }) |
                @Html.ActionLink("Pratęsti", "Extend", new { id = item.Title }) |


            </td>
        </tr>
    }

</table>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">

    <div class="modal-body">
        <h2><p style="color: red;">@TempData["message"]</p> </h2>
    </div>

</div>
<!-- Add the markup needed to render the modal dialog ends here-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
       $(function() {
           var r = '@TempData["message"]';
           if (r.length>0)
           {
                $('#myModal').modal('show');
           }
        });
    </script>
}
