@model IEnumerable<Invensa.Models.Book>

@{
    ViewBag.Title = "Peržiūrėti knygas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Įvesti knygą", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Rodyti detalią informaciją", "Details", new { id = new { Title = item.Title, Author = item.Author } }) |
            @Html.ActionLink("Rašyti atsiliepimą", "Comment", new { id = new { Title = item.Title, Author = item.Author } })
           
        </td>
    </tr>
}

</table>
